@charset "utf-8";
/* CSS Document */

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	}


}
.responsive {
  width: 100%;
  height: auto;
}
.wrapper {
	max-width: 100%;
	margin: 0 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	}
}
.wrapper > * {
	border-radius: 0px;
}
/* Vi navngiver områder udfra grid-area property. */
.topnav {
  	grid-area: nav;	
  	overflow: hidden;
  	background-color: #ffffff;
  	position: relative;
  	width: 100%;
	grid-column: 1 / 2;
}
.content {
	grid-area: content;
	text-align: center;
}
.main-footer {
	grid-area: footer;
	text-align: center;
	background-color: #F4D1D7;
	color: #ffffff;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background:#ffffff;
  display: block;
  position: absolute;
  right: 2%;
  top: 25px;
}
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}
.active {
  background-color: #4CAF50;
  color: white;
}
#logo {
	float: center;
	margin: 0% 30%;
	max-width: 30%;
	max-height: 140px;
}

.intro {
	max-width: 90%;
	grid-column: 1 / 4; 
}

{box-sizing: border-box;}
    img {max-width: 100%;}
    a:link, a:visited {
      text-decoration: none;
	  color: #000000; 
	  
    }
    
    h2 {
      background-color: #FFFFFF;
      color: #000000;
      text-align: center;
      margin: 0;
      padding: 20px;
    }

.listing {
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  grid-column:
}
.listing li {
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
	align-content: center; 

}
.listing .cta {
  margin-top: auto;
  border-top: 1px solid #000000;
  padding: 10px;
  text-align: center;
	
}
.listing .body {
  padding: 10px;
 
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #777;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
    color: #000;
    transform: scale(1.1);
}



/* mobile first */
.wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"nav     nav"
		"content content"
		"footer  footer";
}
@media (min-width: 500px) {
	.wrapper {
		grid-template-columns: 1fr 3fr;
		grid-template-areas:
			"nav     nav"
			"content content"
			"footer  footer";
	}
	nav ul {
		display: flex;
		justify-content: space-between;
	}
}
@media (min-width: 700px) {
	.wrapper {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas:
			"nav     nav     nav"
			"content content content"
			"footer  footer  footer";			
	}
	nav ul {
		flex-drection: column;
	}
}

